.team-member {
  overflow: hidden;
}

.team-member-photo {
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
}

.team-member-left {
  width: 200px;
  margin: 16px;
}

@media (max-width: 38em) {
  .team-member-left {
    width: 100%;
    margin: 16px 0;
  }

  .team-member-photo {
    margin: auto auto 1em auto;
  }

  h2 {
    text-align: center;
  }

}

@media (min-width: 38em) {
  .team-member {
    display: flex;
  }

  .team-member-right {
    flex: 1;
  }
}
