<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    {% comment %} <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a> {% endcomment %}

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% if page.menu == "textbook-cpp" %}
      {% assign pages_list = site.data.menu_textbook_cpp %}
    {% elsif page.menu == "textbook-python" %}
      {% assign pages_list = site.data.menu_textbook_python %}
    {% else %}
      {% assign pages_list = site.data.menu_default %}
    {% endif %}
    {% for item in pages_list.toc %}
      <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ item.url | absolute_url }}">{{ item.title }}</a>
      {% if item.items %}
        <ol>
        {% for entry in item.items %}
          {% assign entry_url = entry.url | absolute_url | append: '.html' %}
          <li><a class="sidebar-nav-item{% if page.url == entry_url %} active{% endif %}" href="{{ entry.url | absolute_url }}">{{ entry.page }}</a></li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endfor %}

    {% comment %} {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %} {% endcomment %}

    {% comment %} <a class="sidebar-nav-item" href="{{ site.repo }}">GitHub project</a> {% endcomment %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
